html, body{
    font-family: 'Montserrat', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    background-color: aqua;
}
.title{
    height: 20vh;
}
.title h2{
    color: rgb(105, 105, 5);
    font-size: 50px;
    text-align: center;
    padding: 44px 0;
}
.content{
    max-height: 80vh;
}